[user]
name = Samyok Nepal
email = sam@yok.dev

[push]
	autoSetupRemote = true

[alias]
  c = commit
  d = diff
  p = push
  s = switch
  # inspired by graphite's submit stack
  ss = push

[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
